<section class="get-in-touch" id="section10">
  <div class="container">

    <!-- SECTION NUMBER -->
    <div class="section-number centered-number">
    </div>

    <!-- SECTION HEADER -->
    <div class="section-header">
      <h2 class="white-text">Contact Me</h2>
      <div class="sub-heading white-text">
        Want to talk? Send me a message!
      </div>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">

        <!-- MAIL SUCCESS MESSAGE - ERROR MESSAGE AVAILABLE IN custom.js -->
        <h6 class="success green-text">Your Message Successfully Sent</h6>
        <h6 class="error red-text"></h6>

        <form [formGroup]="messageForm" id="contact-form" class="contact-form" (ngSubmit)="onSubmit(messageForm.value)">
          <div class="row">

            <div class="form-group col-lg-6 col-md-6" [ngClass]="{'has-error':!messageForm.controls['name'].valid && messageForm.controls['name'].touched}">
              <input type="text" id="name" class="form-control input-field" placeholder="Your Name"
              [formControl]="messageForm.controls['name']">
              <div *ngIf="messageForm.controls['name'].hasError('required') && messageForm.controls['name'].touched" class="alert alert-danger">You must include your name.</div>
            </div>

            <div class="form-group col-lg-6 col-md-6" [ngClass]="{'has-error':!messageForm.controls['email'].valid && messageForm.controls['email'].touched}">
              <input type="email" id="email" class="form-control input-field" placeholder="Your Email"
              [formControl]="messageForm.controls['email']">
              <div *ngIf="messageForm.controls['email'].hasError('required') && messageForm.controls['email'].touched" class="alert alert-danger">You must include your email.</div>
              <div *ngIf="messageForm.controls['email'].hasError('pattern') && messageForm.controls['email'].touched" class="alert alert-danger">Must be a valid email.</div>
            </div>

            <div class="form-group col-lg-12" [ngClass]="{'has-error':!messageForm.controls['subject'].valid && messageForm.controls['subject'].touched}">
              <input type="text" id="subject" class="form-control input-field" placeholder="Subject"
              [formControl]="messageForm.controls['subject']">
              <div *ngIf="messageForm.controls['subject'].hasError('required') && messageForm.controls['subject'].touched" class="alert alert-danger">You must include a subject.</div>
            </div>

            <div class="form-group col-lg-12" [ngClass]="{'has-error':!messageForm.controls['msg'].valid && messageForm.controls['msg'].touched}">
              <textarea id="message" class="form-control input-field" rows="8" placeholder="Your Message"
              [formControl]="messageForm.controls['msg']"></textarea>
              <div *ngIf="messageForm.controls['msg'].hasError('required') && messageForm.controls['msg'].touched" class="alert alert-danger">You must include a message.</div>
            </div>

            <div class="form-group col-lg-12">
              <div *ngIf="sendSuccess != null && sendSuccess" class="alert">Message sent!</div>
              <div *ngIf="sendSuccess != null && !sendSuccess" class="alert alert-danger">There was a problem sending your message.</div>
            </div>

            <div class="form-group col-lg-12">
              <button type="submit" [disabled]="!messageForm.valid" class="btn btn-default standard-button red-button">Send Message</button>
            </div>

          </div>
        </form>

      </div>
    </div>

    <!-- FOOTER -->
    <div class="row no-gutters">
      <div class="footer clearfix">

        <div class="col-lg-3 col-md-3">
          <div class="footer-col">
            <div class="footer-logo">
              <!--<img src="images/logo-white.png" alt="">--> <!-- LOGO -->
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="footer-col">
            <h6 class="green-text">Stephen Aldriedge</h6>
            <p class="white-text">
              Austin, TX
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="footer-col">
            <h6 class="purple-text"></h6>
            <p class="white-text">
            </p>
          </div>
        </div>

        <div class="col-lg-3 col-md-3">
          <div class="footer-col">
            <h6 class="yellow-text">Stephen Aldriedge</h6>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/saldriedge"><span class="icon icon-linkedin"></span></a>
              <a href="https://github.com/stevo2588/"><span class="icon icon-github-alt"></span></a>
            </div>
          </div>
        </div>
      </div>

      <div class="four-lines">
        <div class="line red-line-bottom">
        </div>
        <div class="line green-line-bottom">
        </div>
        <div class="line purple-line-bottom">
        </div>
        <div class="line yellow-line-bottom">
        </div>
      </div>

    </div>
  </div>
</section>
